h1 {
    color: red;
}
#wrapper {
    margin: 0 auto;
    padding: 20px;
}
@media only screen and (max-width: 768px) {
    #wrapper {
      border: 4px solid lightblue;
    }
  }

@media only screen and (max-width: 375px) {
#wrapper {
    border: 4px solid yellow;
    }
}
.nav-bar {
    display: flex;
    height: 50px;
    width: 100%;
    border-radius: 4px;
    background-color: lightgray;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 5px 5px 5px lightgray ;
}

.nav-tab {
    display: inline-block;
    height: 50px;
    width: 25%;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-radius: 4px;
    text-align: center;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: gray;
    
}
.nav-tab:hover {
    height: 54px;
    box-shadow: 5px 5px 5px lightgray ;
    color: red;
}

#card {
    height: 500px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-radius: 4px;
    box-shadow: 5px 5px 5px lightgray ;
}