body {
    background-color: darkgray;
}

h1 {
    text-align: center;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

#wrapper {
    margin: 20px;
    background-color: whitesmoke;
    max-width: 1200px;
}

@media only screen and (max-width: 768px) {
    #wrapper {
      border: 4px solid lightblue;
    }
  }

@media only screen and (max-width: 375px) {
#wrapper {
    border: 4px solid yellow;
    }
}

.nav-bar {
    display: flex;
    height: 54px;
    width: 100%;
    background-color: black;
    align-items: flex-end;
    justify-content: space-between;
}

.nav-tab {
    display: inline-block;
    height: 50px;
    width: 25%;
    background-color: black;
    text-align: center;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: white;  
    border-radius: 4px;
}

.nav-tab:hover {
    height: 48px;
    color: red;
    background-color: whitesmoke;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 4px;
}

.left-tab-active {
    display: inline-block;
    height: 50px;
    width: 25%;
    color: darkslategray;
    background-color: whitesmoke;
    text-align: center;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300; 
    border-top-right-radius: 4px;
}

.middle-tab-active {
    display: inline-block;
    height: 50px;
    width: 25%;
    color: darkslategray;
    background-color: whitesmoke;
    text-align: center;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300; 
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.right-tab-active {
    display: inline-block;
    height: 50px;
    width: 25%;
    color: darkslategray;
    background-color: whitesmoke;
    text-align: center;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300; 
    border-top-left-radius: 4px;
}

#logo1 {
    display: block;
    width: 400px;
    height: 80px;
    margin: 0 auto;
    background-image: url(./images/hello_world1.png);
    background-position: center;
    background-size: cover;
}

#logo2 {
    display: none;
    width: 400px;
    height: 80px;
    margin: 0 auto;
    background-image: url(./images/hello_world2.png);
    background-position: center;
    background-size: cover;
}

#intro {
    display: block;
    margin: 0 auto;
    max-width: 950px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

#card {
    height: 500px;
    width: 100%;
    background-color: whitesmoke;
}

#about {
    display: block;
    height:446px;
    width: 100%;
    padding: 30px;
}

#headshot {
    display: block;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 75px;
    background-image: url("images/headshot.jpg");
    background-size: cover;
}

#about-content {
    display: block;
    margin-left: 0;
    padding-right: 60px;
    font-family: 'Roboto', sans-serif;
    text-indent: 50px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

#skills {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    height:446px;
    width: 100%;
}

.skills-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 140px;
    width: 100%;
}

.skills-item {
    display: block;
    height: 100px;
    width: 150px;
    margin: 30px;
}

#projects {
    display: none;
    flex-direction: column;
    height:446px;
    width: 100%;
    justify-content: space-evenly;
}

.projects-row {
    display: flex;
    height: 220px;
    width: 100%;
}

.projects-item {
    height: 210px;
    width: 50%;
    border: 1px solid lightgray;
    margin: 5px;
    box-shadow: 5px 5px 5px lightgray; 
}

.projects-item:hover {
    background-color: white;
}

.project-title {
    margin: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.project-item-split {
    display: flex;
    flex-direction: row;
}

.project-description {
    display: block;
    margin-right: 20px;
    max-width: 350px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: darkslategray;
    line-height: 25px;
}

.project-link {
    height: 120px;
    width: 180px;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.6);
}

#toolshed-thumbnail {
    display: block;
    height: 120px;
    width: 180px;
    margin: auto 20px;
    border: 1px solid black;
    background-image: url(./images/toolshed_thumbnail.png);
    background-position: center;
    background-size: cover;
}

#lit-thumbnail {
    display: block;
    height: 120px;
    width: 180px;
    margin: auto 20px;
    border: 1px solid black;
    background-image: url(./images/lit_thumbnail.png);
    background-position: center;
    background-size: cover;
}

#pcb-thumbnail {
    display: block;
    height: 120px;
    width: 180px;
    margin: auto 20px;
    border: 1px solid black;
    background-image: url(./images/pcbuilder_thumbnail.png);
    background-position: center;
    background-size: cover;
}

#trcs-thumbnail {
    display: block;
    height: 120px;
    width: 180px;
    margin: auto 20px;
    border: 1px solid black;
    background-image: url(./images/trcs_thumnail.png);
    background-position: center;
    background-size: cover;
}

#contact {
    display: none;
    height:446px;
    width: 100%;
    flex-direction: row;
}


#github-link {
    display: block;
    height: 40px;
    width: 150px;
    background-image: url(./images/github_link.png);
    background-position: center;
    background-size: cover;
}

#github-link:hover {
    height: 44px;
    width: 158px;
}

#linkedin-link {
    display: block;
    height: 26px;
    width: 125px;
    background-image: url(./images/linkedin_link.png);
    background-position: center;
    background-size: cover;
}

#linkedin-link:hover {
    height: 30px;
    width: 150px;
}

#email-link {
    margin: 10px auto;
    width: 280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#email-logo {
    display: block;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    background-image: url(./images/email_link.png);
    background-position: center;
    background-size: cover;
}

#phone-link {
    margin: 10px auto;
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

#phone-logo {
    display: block;
    height: 40px;
    width: 40px;
    margin-right: 20px;
    background-image: url(./images/phone_link.png);
    background-position: center;
    background-size: cover;
}

#resume-logo {
    margin: 80px auto;
    display: block;
    height: 200px;
    width: 300px;
    border: 1px solid black;
    background-image: url(./images/resume-logo.png);
    background-position: center;
    background-size: cover;
}

.contact-column {
    display: block;
    width: 50%;
}

.contact-row {
    display: block;
    height: 150px;
}

.contact-row-flex {
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-evenly;
}